<div class='container'>
  <h2>Присоедениться</h2>

  <% if @user.errors.any? %>
    <div>
      <% @user.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form_with model: @user, data: {turbo: false} do |form| %>
      <div class='form-group'>
        <p><%= form.label :name, 'Ваше имя' %></p>
        <p><%= form.text_field :name, class: 'form-field' %></p>
      </div>

      <div class='form-group'>
        <p><%= form.label :nickname, 'Ваш никнейм' %></p>
        <p><%= form.text_field :nickname, class: 'form-field' %></p>
      </div>

      <div class='form-group'>
        <p><%= form.label :email %></p>
        <p><%= form.text_field :email, class: 'form-field' %></p>
      </div>

      <div class='form-group'>
        <p><%= form.label :password, "Пароль" %></p>
        <p><%= form.password_field :password, class: 'form-field' %></p>
      </div>

      <div class='form-group'>
        <p><%= form.label :password_confirmation, "Повторите пароль" %></p>
        <p><%= form.password_field :password_confirmation, class: 'form-field' %></p>
      </div>
      
      <div class='form-group'>
        <p><%= form.submit 'Регистрация', class: 'button' %></p>
      </div>
    <% end %>
  </div>
</div>